body {
    overflow: hidden;
    overflow-y: scroll;
    background-color:lightgray !important;
}

table, .consulta {
    margin: 30px;
}

h3 {
    margin-left: 150px;
}

.tablas {
    display: inline-block;
}

.consulta {
    margin-right: 70%;
}

.anio {
    padding-right: 50px !important;
}

.titulos{
    display:inline;
    margin-left: 0px !important;

}
